# vvv REQUIRED vvv
MUS_BASE_FOLDER="/path/to/folder"
MUS_SUB_FOLDERS__0='["d", "long"]'
MUS_SUB_FOLDERS__1='["rand", "stream"]'
MUS_SUB_FOLDERS__2='["print"]'

# vvv OPTIONAL vvv
#MUS_DEFUALT_PLAYLIST=
#MUS_BITRATE=
#MUS_FORMAT=
